# --- Orchestration & Ingestion ---
apache-airflow
apache-airflow-providers-amazon  # Required for Airflow to talk to MinIO/S3
requests
boto3
tenacity                        # For robust API retries
python-dotenv                   # To load our .env file

# --- Transformation (The New Analytical Core) ---
dbt-duckdb                      # Replaces dbt-snowflake
duckdb                          # The engine itself

# --- Serving & Analysis ---
streamlit                       # For the Gold-layer dashboard
pandas                          # For data manipulation in Streamlit